{% extends "base.html" %}
{% load humanize %}
{% block content %}
<style>
    .card {
        width: 80%;
        margin: 0 auto !important;
    }

    .description {
        font-size: 12px;
        font-family: system-ui;
        margin: 8px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .row .col.s4 {
        margin-left: 0;
        left: 0;
        right: 0;
    }

    .order {
        width: 30%;
        margin: 0 auto;
        border: black 1px solid;
        padding: 1em;
    }

    p.status {
        background: black;
        color: white;
        padding: 6px;
    }
</style>
<div class="row">
    <div class="col s12 m12">
        <div class="card darken-1">
            <div class="card-content white-text">
                <div>
                    <a href="/">
                        <button class="btn-large white black-text">
                            Home
                            <i class="material-icons right">home</i>
                        </button>
                    </a>
                    <a onclick="window.history.back();">
                        <button class="btn-large white black-text">
                            Regresar
                            <i class="material-icons right">arrow_back</i>
                        </button>
                    </a>
                    <a href="/orders">
                        <button class="btn-large white black-text">
                            Mis Pedidos
                            <i class="material-icons right">home</i>
                        </button>
                    </a>
                </div>
                <h2>Pedidos</h2>
                <div class="row">
                    {% for item in object_list %}
                    <div class="col s12">
                        <img width="80%" src="{{ item.item.photo_name }}" />
                        <div class="order">
                            <p style=" line-height: 40px; font-size: 21px; ">{{ item.room_number }} - {{ item.item }}</p>
                            <p class="status">{{ item.getStatus }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <div></div>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}